<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerKey</key>
	<string>eXdDO5OLc4nMc8nbjjC6Nqoav</string>
	<key>consumerSecret</key>
	<string>p0vnUTFksyHadj62QGb27p4AjCcDx5XQf3akmMUDI6M0WHGmDf</string>
</dict>
</plist>
